{% extends "layout.html" %}

{% block navbar %}
{% if session["user_id"] %}
        <!-- UI code for sidebar menu taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp -->

        <!-- Side navigation -->
        <div class="sidenav">
            {% block users %}
            {% endblock %}
        </div>
        
        <!-- UI code for dropdown menu taken from https://www.w3schools.com/howto/howto_css_dropdown.asp-->
        
        <!-- Dropdown menu -->
        <div class="dropdown">
            <div class="dropdown-content">
                <a href="/change">Change Password</a>
                <a href="/logout">Sign out</a>
            </div>
            <button class="dropbtn">{% block username %}{% endblock %}</button>
        </div>
        
        <!-- Page content -->
        <div class="main">
            {% block text %}
            {% endblock %}
        </div>
{% endif %}
{% endblock %}